@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --dark: #34344e;
    --dark2: #3a415a;
    --dark3: #89a7b1;
    --purple: #7804e4;
}

body.login{
    background-color: var(--dark);
    background: linear-gradient(to right, --dark2, --dark3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
}

.login img{
    width: 300px;
    max-width: 100%;
    display: flex;
}

.container.login{
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 95%;
    min-height: 480px;
}

.container.login p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container.login strong{
    color: var(--purple);
}

.container.login span{
    font-size: 12px;
}

.container.login a{
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container.login button{
    background-color: var(--dark2);
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container.login form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container.login input{
    background-color: #eeeeee;
    border: none;
    margin: 9px 0;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.container-form.login{
    position: static;
    top: 50;
    height: 100%;
}